body{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #75B79E;

    background-color: #eef9bf;
    
    text-align: center;

}
button{
    border-color: #75B79E;
    border-radius: 5px;

    font-size: 18px;
}


.content{
    display: flex;
    padding-top: 40px;

    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    justify-content: center;
    width: 1000px;

    flex-wrap: wrap;
}
h1{
    margin-top: 40px;

    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    
    margin-bottom: 46px;
}

.card {
    width: 117px;
    height: 156px;
    position: relative;

    margin-left: 34px;
    margin-bottom: 34px;

    cursor: pointer;
  }
  .card img{
    width: 100px;
  }
  
  .face {
    width: 100%;
    height: 100%;
    background-color: #a7e9af;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    backface-visibility: hidden;

    transition: all 0.5s;
    transform-style: preserve-3d;
  }

  .front-face {
    transform: rotateY(180deg);
  }
 
  .virada .front-face {
    transform: rotateY(0deg);
  }
  
  .virada .back-face {
    transform: rotateY(-180deg);
  }
  